.iconed-link {
  font-size: 18px;
  font-weight: bold;
  color: $links-color;
  text-decoration: none;

  &::before {
    content: '';
    background: svg-load('link.svg', fill=$links-color) center center no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    display: inline-block;
  }
}