.middle-section{
  position: relative;
}

.middle-section__triangles-top {
  position: absolute;
  height: 100px;
  bottom: 100%;
  width: 100%;
}

.middle-section__triangles-bottom {
  position: absolute;
  height: 100px;
  top: 100%;
  width: 100%;
}