.reviews {
  background: url('~images/content/reviews-bg.jpg') bottom 78% right/cover no-repeat;
}

.reviews__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 810px;
}