.scroll-down-btn {
  font-weight: 600;
  font-size: 18px;
  color: $text-color;
  background: transparent;
  display: inline-block;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: block;
    background: svg-load('scroll.svg', fill=$text-color, width=13px, height=13px);
    width: 13px;
    height: 13px;
    margin-left: 15px;
  }
}