.skills-row__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 35px;

  @include tablets {
    text-align: center;  
  } 
}

.skills-row__wrapper {
  display: flex;

  @include tablets {
    justify-content: center;
  }
}

.skills-row__list {
  width: 100%;
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  grid-row-gap: 5%;

  @include phones {
    grid-template: auto / repeat(2, 1fr);
  }
}

.skills-row__item {
  @include tablets {
    justify-self: center;
  }
}

