.skills-row__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 35px;
}

.skills-row__list {
  display: flex;
}

.skills-row__item {
  margin-right: 15%;

  &:last-child {
    margin-right: 0;
  }
}