
.slider__header {
  display: flex;
  align-items: center;
  margin-bottom: 77px;
}

.slider__title {
  margin-right: 115px;

  @include desktop {
    margin-right: 155px;
  }
}

.slider__btns {
  width: 134px;
  display: flex;
  justify-content: space-between;
}

.slider__content {
  display: flex;
  justify-content: space-around;
  padding-right: 32%;

  @include desktop {
    padding-right: 9%;
  }
}

.slider__item {
  width: 32%;

  &:last-child {
    margin-right: 0;
  }
}

