.userinfo {
  display: flex;
  justify-content: center;
}

.userinfo__title {
  font-size: 18px;
  font-weight: 600;
  color: rgba(70, 78, 98, 0.5);
  text-align: right;
  margin-right: 34px;
  padding-top: 10px;
}

.userinfo__name {
  font-weight: 800;
  font-size: 72px;
  flex-basis: 500px;
  line-height: 1;
}