.values {
  background: url(~images/content/backpack-1200.png) center left no-repeat;
}

.values__container {
  padding-top: 80px;
  padding-bottom: 290px;
}

.values__title {
  margin: 0 auto;
  width: 55%;
  margin-bottom: 94px;
}

.values__title-text {
  color: $text-color;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}

.values__content {
  font-weight: 600;
  color: rgba($text-color, 0.8);
  line-height: 1.85;
}

.values__widget {
  padding-left: 30.5%;
}

