.welcome-section {
  /* background: url('~images/content/hero-bg.jpg') center top -100px / cover no-repeat; */
  background: url('~images/content/hero-bg.jpg') center top / cover no-repeat;
  padding-bottom: 230px;
}

