.works-preview {
  display: flex;
  justify-content: space-between;
}

.works-preview__info {
  width: 28%;
}

.works-preview__tags {
  margin-bottom: 35px;
}

.works-preview__title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 35px;
}

.works-preview__desc {
  font-weight: 600;
  line-height: 1.85;
  color: rgba($text-color, 0.8);
  margin-bottom: 45px;
}



