.headline-component {
  background: #43436B;
  color: rgba(#FFF, 0.5);
}

.headline-container {
  display: flex;
  align-items: center;
  padding-top: 16px; 
  padding-bottom: 16px; 
}

.title {
  margin-left: 25px;
}

.buttons {
  margin-left: auto;
}

.btn {
  color: rgba(#FFF, 0.8);
  text-decoration: underline;
  background: transparent;
}